
body{

    background-color: rgb(0, 0, 0);
    /*background-color:bisque;*/
    user-select: none;
}

h1{
    color: aliceblue;
    font-size: 50px;
   font-family: verdana ;
   
}
.centrarImg{
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
}
img{
    width: 600px;
    border-width: 5px;
    border-radius: 5%;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    justify-content: center;
}
#container{
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    justify-content: center;
}

p{
    font-family: Verdana;
    color: aliceblue;
    
}
.cuadrado{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    font-weight: bold;
    font-family: cursive;
    color: aliceblue ;
}

.medio{
    border-left: 10px solid ;
    border-right: 10px solid;
    border-color:aliceblue;
}
.arriba{
    border-bottom: 10px solid;
    border-color:aliceblue;

}
.abajo{
    border-top: 10px solid;
    border-color:aliceblue;
}

.ganador{   
    background-color: rgb(5, 19, 97);
}